
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;

}

.note
{
    font-size: 15px;
    color: rgb(195, 227, 239);
}

.copy_right_footer 
{
    position: fixed;
    color: rgb(156, 194, 228);
    bottom: 0;
    width: 100%;
    background-color: rgb(110, 83, 135);
    line-height: 3;
    text-align: center;

}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}